[submodule "external/grpc-gateway"]
	path = external/grpc-gateway
	url = git@github.com:grpc-ecosystem/grpc-gateway.git
[submodule "external/triton-proto"]
	path = external/triton-proto
	url = git@github.com:C-Research/triton-protobuf.git
