[submodule "external/triton-protobuf"]
	path = external/triton-protobuf
	url = git@github.com:C-Research/triton-protobuf.git
[submodule "external/grpc-gateway"]
	path = external/grpc-gateway
	url = git@github.com:grpc-ecosystem/grpc-gateway.git