# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
internal/grpc/uaa.pb.gw.go
internal/grpc/uaa.pb.go
internal/grpc/uaa_grpc.pb.go

conf/tls-self.crt
conf/tls-self.key

statik/statik.go

*.DS_Store

swagger/uaa.swagger.json
/gateway
